[Desktop Entry]
Name=Obsidian FolderLink
Exec=bash -c '${HOME}/.local/lib/obsidian-folderlink/obsidian-folderlink.sh "$1"' _ %f
Type=Application
Terminal=false
MimeType=application/x-folderlink;
Categories=Development;Editor;
